.profile-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.profile-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
